/* overall page styles */
* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: helvetica, arial, sans-serif;
  color: rgb(203, 16,  3);
}

a {
  color: rgb(203, 16, 3);
}

a:link {
  color: rgb(203, 16, 3);
  text-decoration: none;
}

/* banner styles */

.banner-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  background-color: rgb(249, 193, 38);
  padding: 10px;
  align-content: center;
}

.logo {
  width: 50px;
  height:auto;
}

.nav-bar-container {
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.nav-item {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}


/* main content styles */

/* homepage */
.homepage-container {
  display: grid;
}


.full-screen-image {
  width: 900px;

}

/* location page */
.map {
  width: 700px;
  align: center;
}

.location-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.location-item {
  padding: 10px;
  padding-bottom: 50px;
  text-align: left;
}

/*  menu page */
.menu-container {
  display: grid;
  grid-template-columns: 1fr 5fr;
}


.menu-links-container {
  background-color: rgb(0, 0, 0);
  color: white;

}
.menu-links  {
  text-align: left;
  padding: 20px;
  color: white;
}

.menu-links > a {
  color: white;
}


.menu-details {
  text-align: left;
  padding: 20px;
}


/* gallery page */
.gallery-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.gallery-image {
  border: 3px solid rgb(12, 34, 56);
  border-radius: 20px;
  overflow: hidden;
}

/* Dealing with images in cards */
 .gallery-image > img {
   max-width: 100%;
   height: auto;
}

/* footer styles */
.footer-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgb(249, 193, 38);
  padding: 10px;
}

.footer-left {
  font-size: 20px;
  font-weight: bold;
  text-align: left;
}

.footer-middle {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.footer-right {
  text-align: right;
}
